body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }  

#page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header {
    background-color: #a4b9d1;
    color: rgb(64, 49, 49);
    padding: 1rem;
    text-align: center;
}

#content-wrapper {
    display: flex;
    flex: 1;
}
#nav {
      background-color: #998c8c;
}

#nav .list-example {
    
    
    list-style-type: none; /* Removes default bullet points */
    margin: 0px;
    padding: 0px;
    justify-content: center; /* Centers the navigation links */
    gap: 70px; /* Adds spacing between links */
}

#nav .list-example li {
    margin: 30px;
}

#nav .list-example li a {
    
    text-decoration: none; 
    color: #333; 
    font-weight: bold; 
    padding: 0.5rem 1rem; 
    border-radius: 5px; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

#nav .list-example li a:hover {
    background-color: #457b9d; /* Deep blue background on hover */
    color: rgb(159, 95, 95); /* White text on hover */
}


#section {
    background-color: #858080;
    flex: 1;
    padding: 4rem;
}

.list-example {
    list-style-type: none;
    padding: 0;
}

.list-example li {
    margin-bottom: 10px;
}

.list-example a {
    text-decoration: none;
    color: #333;
}

aside {
    background-color: #ffffff;
    border-left: 4px solid #4a90e2;
    padding: 15px;
    margin-top: 10px;
}

#footer {
    background-color: #333;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1rem;
}

        
